.cell-wrapper {
    border: 1px solid #7c84ae;
    background-color: var(--background-color);
    padding: 1px;
}

.cell {
    width: 100%;
    height: 100%;
}

.cell--active {
    background: linear-gradient(45deg, #fe6b8b 30%, #ff8e53 90%);
    opacity: 0;
    animation-name: pulse;
    animation-duration: var(--tick-time);
    animation-iteration-count: 1;
}

.cell--active.cell--correct {
    background: linear-gradient(45deg, #1d976c 30%, #93f9b9 90%);
}

@keyframes pulse {
    0% {
        opacity: 0;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
