.play-grid {
    max-width: 940px;
    height: 80vmin;
    width: 80vmin;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(var(--dimension-size), 1fr);
    grid-template-rows: repeat(var(--dimension-size), 1fr);
}
